version: '3.8'
services:
  ai-helper:
    build: ./AI-helper
    container_name: ai-helper
    ports:
      - "9000:9000"
    volumes:
      - ./AI-helper:/app
      - ./helper/latex_files:/app/latex_files
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: resume-backend
    ports:
      - "7000:7000"
    environment:
      - PORT=7000
      - AI_HELPER_URL=http://ai-helper:9000
      - REDIS_HOST=redis
    depends_on:
      - ai-helper
      - redis
    volumes:
      - ./backend:/usr/src/app
      - ./helper/latex_files:/usr/src/app/latex_files
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: resume-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        VITE_BACKEND_URL: "http://localhost:7000"
    container_name: resume-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped
